In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Day-25/2.1 weather_data.csv')

In [3]:
df

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [4]:
print(df['temp'])

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [5]:
temps = df['temp'].to_list()

In [6]:
print(temps)

[12, 14, 15, 14, 21, 22, 24]

In [7]:
the_sum = sum(temps)

In [8]:
print(the_sum)

122

In [9]:
avg_temp = (sum(temps)/len(temps))
print(avg_temp)

17.428571428571427

In [10]:
avg_temp = df['temp'].mean()

In [11]:
print(avg_temp)

17.428571428571427

In [12]:
df.describe(include='all')

           day       temp condition
count        7   7.000000         7
unique       7        NaN         3
top     Sunday        NaN     Sunny
freq         1        NaN         4
mean       NaN  17.428571       NaN
std        NaN   4.755949       NaN
min        NaN  12.000000       NaN
25%        NaN  14.000000       NaN
50%        NaN  15.000000       NaN
75%        NaN  21.500000       NaN
max        NaN  24.000000       NaN

In [13]:
max_temp = df['temp'].max()
print(max_temp)

24

In [14]:
the_monday = (df[df['day']=='Monday'])
print(the_monday)

      day  temp condition
0  Monday    12     Sunny

In [15]:
monday_temp = ((the_monday.temp*9)/5)+32
print('Monday temp in F is{}'.format(monday_temp))

Monday temp in F is0    53.6
Name: temp, dtype: float64